<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xd.dao.GroupInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xd.pojo.GroupInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="g_name" property="gName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, g_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from group_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from group_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xd.pojo.GroupInfo" >
    insert into group_info (id, g_name)
    values (#{id,jdbcType=INTEGER}, #{gName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xd.pojo.GroupInfo" >
    insert into group_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gName != null" >
        g_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gName != null" >
        #{gName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xd.pojo.GroupInfo" >
    update group_info
    <set >
      <if test="gName != null" >
        g_name = #{gName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xd.pojo.GroupInfo" >
    update group_info
    set g_name = #{gName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>