<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.dao.RegistrationInfoMapper">
  <resultMap id="BaseResultMap" type="com.xd.pojo.RegistrationInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="r_id" jdbcType="VARCHAR" property="rId" />
    <result column="r_tel" jdbcType="VARCHAR" property="rTel" />
    <result column="r_d_id" jdbcType="INTEGER" property="rDId" />
    <result column="r_c_id" jdbcType="INTEGER" property="rCId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, r_id, r_tel, r_d_id, r_c_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from registration_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from registration_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xd.pojo.RegistrationInfo">
    insert into registration_info (id, r_id, r_tel, 
      r_d_id, r_c_id)
    values (#{id,jdbcType=INTEGER}, #{rId,jdbcType=VARCHAR}, #{rTel,jdbcType=VARCHAR}, 
      #{rDId,jdbcType=INTEGER}, #{rCId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xd.pojo.RegistrationInfo">
    insert into registration_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rId != null">
        r_id,
      </if>
      <if test="rTel != null">
        r_tel,
      </if>
      <if test="rDId != null">
        r_d_id,
      </if>
      <if test="rCId != null">
        r_c_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rId != null">
        #{rId,jdbcType=VARCHAR},
      </if>
      <if test="rTel != null">
        #{rTel,jdbcType=VARCHAR},
      </if>
      <if test="rDId != null">
        #{rDId,jdbcType=INTEGER},
      </if>
      <if test="rCId != null">
        #{rCId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xd.pojo.RegistrationInfo">
    update registration_info
    <set>
      <if test="rId != null">
        r_id = #{rId,jdbcType=VARCHAR},
      </if>
      <if test="rTel != null">
        r_tel = #{rTel,jdbcType=VARCHAR},
      </if>
      <if test="rDId != null">
        r_d_id = #{rDId,jdbcType=INTEGER},
      </if>
      <if test="rCId != null">
        r_c_id = #{rCId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xd.pojo.RegistrationInfo">
    update registration_info
    set r_id = #{rId,jdbcType=VARCHAR},
      r_tel = #{rTel,jdbcType=VARCHAR},
      r_d_id = #{rDId,jdbcType=INTEGER},
      r_c_id = #{rCId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="checkByTel" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from registration_info where r_tel = #{tel}
  </select>
  <delete  parameterType="java.lang.String" id="deleteByTel">
    delete from registration_info
    where tel = #{tel}
  </delete>
  <select id="selectByTel" parameterType="String" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from registration_info
  where r_tel = #{tel}
  </select>
</mapper>